* {
  box-sizing: border-box;
}

#myMap {
  height: 20vw;
  width: 100%;
}

.singInSingUp {
  float: right;
}

@media (max-width: 1800px) {
  .navbarLinks {
    display: block !important;
  }
  .dropdownTop5 {
    display: none !important;
  }
}

@media (max-width: 1150px) {
  .navbarLinks {
    display: none !important;
  }
  .dropdownTop5 {
    display: block !important;
  }
}

@media (max-width: 767px) {
  .navbarLinks {
    display: block !important;
  }
  .dropdownTop5 {
    display: none !important;
  }
}

@media (max-width: 460px) {
}
