* {
  box-sizing: border-box;
}

#myMap {
  height: 20vw;
  width: 100%;
}

.singInSingUp {
  float: right;
}

@media only screen and (min-width: 769px) {
  .dropdownTop5 {
    display: none;
  }
  .navbarLinks {
    display: block;
  }
}

@media only screen and (max-width: 768px) {
  .navbarLinks {
    display: none;
  }
  .top5 {
    display: block;
  }
}

@media only screen and (max-width: 460px) {
  .navbarLinks {
    display: none;
  }
  .top5 {
    display: block;
  }
}
